@font-face {
  font-family: "Exocet";
  src: url('/system/lib/exocet-blizzard-medium.eot');
  src: url('/system/lib/exocet-blizzard-medium.eot?#iefix') format('embedded-opentype'),
       url('/system/lib/exocet-blizzard-medium.woff') format('woff'),
       url('/system/lib/exocet-blizzard-medium.ttf') format('truetype');
}

@font-face {
  font-family: "Exocet Light";
  src: url('/system/lib/exocet-blizzard-light.eot');
  src: url('/system/lib/exocet-blizzard-light.eot?#iefix') format('embedded-opentype'),
       url('/system/lib/exocet-blizzard-light.woff') format('woff'),
       url('/system/lib/exocet-blizzard-light.ttf') format('truetype');
}

*, * * {
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0;
  transition: all .25s ease-in-out;
  box-sizing: border-box
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  background-color: #000;
  background-image: url(/system/img/d2rbg.jpg);
  background-position: center -150px;
  background-repeat: no-repeat;
  background-size: auto 1200px;
  font: 20pt/1.15 Exocet Light, Exocet, serif;
  color: #F3E6D0;
  box-shadow: inset 0 300px 300px -300px rgba(255,0,0,0.5);
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 575px;
  text-shadow: 3px 2px 1px rgba(0,0,0,1);
}

h1 {
  font-size: 50pt;
  text-align: center;
  font-family: Exocet, Serif;
}
h1::first-letter, h1 span { font-size: 120% }
h2 {
  font-size: 30pt;
  text-align: center;
}
h3 {
  font: 20pt Exocet, Serif;
  color: #B00;
  text-align: left;
  text-shadow: 1px 1px #000;
}

form {
  box-shadow: 0px 0px 20px rgba(255,0,0,.05);
}
form, footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  min-width: 850px;
  max-width: 1000px;
  padding: 1.5em;
  background: rgba(30,25,25,.75);
  border-radius: 5px;
}
footer { text-align: center }

section {
  display: flex;
  gap: 1em;
  font-size: 13pt;
}
section.around { justify-content: space-around }
section.between { justify-content: space-between }
section.wrap { flex-wrap: wrap }
section * { flex: 1 1 fit-content }

input[type=text], input[type=number] {
  width: 100%;
  border: 1px solid #444;
  padding: 15px 0;
  background: #191919;
  color: #D1C287;
  -webkit-text-fill-color: #D1C287;
  font: 14pt/1.15 Exocet, Serif;
  text-align: center;
  border-radius: 3px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
  z-index: 1;
}

input[type=number] { -moz-appearance: textfield }
input[type=number]:focus { border: 1px solid #B07B38 }

input[type=number]:disabled, input[type=text]:disabled {
  border: 1px solid #000;
  background: #111;
}

input.error { border-color: #F00 !important }

p { position: relative }

ul li {
  margin-left: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
ul li.fix { list-style-type: "🔧" }
ul li.new { list-style-type: "🆕" }
ul li .date {
  float: left;
  font: 10pt/1.5 Arial, Sans-Serif;
  color: #999;
  display: block;
}
ul li p {
  clear: both;
  font-size: 11pt;
}
li p span {
  font-size: inherit;
  vertical-align: inherit;
}

a {
  color: #FFF;
  text-decoration: none
}

.links span {
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  font: bold 10pt/1.15 Sans-Serif;
  background: rgba(0,0,0,.5);
}
.links span.clicked, .links span.clicked:hover {
  cursor: pointer;
  background: #B83926;
}
.links span:hover {
  cursor: pointer;
  background: rgba(255,255,255,.1);
}

.statgems { text-align: center }
.statgems img { width: 55px }

.runes, .runes2 {
  gap: 1em;
  text-align: center;
  flex-wrap: wrap;
  cursor: default;
}
.runes div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.runes img {
  width: 100px;
  height: 100px;
}
.runes2 img, .inline img {
  width: 55px;
  height: 55px;
}

.runes img, .runes2 img { cursor: pointer }

.runes img.clicked, .runes2 img.clicked { filter: drop-shadow(0 0 20px rgb(200, 0, 0)) }

.runewordresults, .runewordmatch {
  display: grid;
  gap: 1em;
  align-items: baseline;
  grid-template-columns: repeat(2, 1fr);
}

.runewordupgrade { flex-direction: column }

.formula {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background: rgba(0,0,0,0.5);
}
.formula .inline img { width: 75px; height: 75px; }
.formula .inline p { font-size: 14pt }
.formula .count { font-size: 32pt }
.formula .math { font-size: 30pt }
.formula .gem { font-size: 15pt }
.formula .times {
  font-size: 15pt;
  font-weight: bold;
  font-family: Exocet;
}

.runeword {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
.runeword p.name {
  font-family: Exocet, sans-serif;
  color: #D1C287;
}
.runeword p.name::first-letter { font-size: 110% }
.runeword p.runenames {
  font-family: Exocet Light, sans-serif;
  color: #D1C287;
  white-space: normal;
}
.runeword p.runenames span { display: inline-block }
.runeword p.runenames span::first-letter { font-size: 120% }
.runeword p.level, .runeword p.class { color: #FEFEFE }
.runeword p.type { color: #868686 }
.runeword p.stat {
  font: 10pt/1.15 Arial, sans-serif;
  color: #8888f6;
}

.copyright {
  margin-top: 15px;
  color: #333;
  font: 10pt/1.15 Sans-Serif;
  text-align: center;
}

sup { font-size: 70% }

.xsmall { font-size: 60% }
.tcenter { text-align: center }
.red { color: #A32 }

@media only screen and (max-width:768px) {
  .runes img {
    width: 55px;
    height: 55px;
  }

  .runewordresults, .runewordmatch {
    grid-template-columns: repeat(1, 1fr);
  }

  .formula {
    gap: 8px;
    padding: 0;
    background: rgba(0,0,0,0);
  }

  .formula .inline img { width: 45px; height: 45px; }

  .filter, .sort, .select { text-align: center }

  .filter span, .sort span, .select span { font-size: 8pt }

  form, footer {
    position: relative;
    width: 100%;
    min-width: 414px;
    border-radius: 0;
  }
}

@media only screen and (max-width:414px) {
  form, footer { min-width: 360px }
}